<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/pages/_nosotros.scss">
    <title>Nosotros</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
    
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
          </ul>
        </nav> <!-- .nav-bar -->
    
        <div class="search-bar">
          <div class="search-bar__logo-container">
            <img src="/img/logo.png" alt="logo-pagina" class="logo">
          </div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda" value="Busca lo que necesites!">
            <input type="submit" class="search-bar__form-submit" value="Buscar">
          </form>
          <div class="search-bar__carrito-container">
            <img src="/img/carrito.png" alt="carro-compras">
          </div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
    
    
      </header> <!-- main-header -->
      <main>
      <section class="section-cards__nosotros">
        <header class="section-cards__header">
        </header>
        <div class="cards-container__nosotros">
          <div class="card_nosotros">
            <article class="card__article__nosotros">
              <h2 class="card__heading_nosotros"> ¿Cómo empezó Esencia Bella? </h2>
              <div class="card__image-container1">
                <img src="/img/Esencia_Bella.png" alt="Fotos-marca" class="card__image">
              </div>
              <div class="card__content">
               
                <div class="card__description_nosotros1">
                   <p>Somos Carla y Euge, amigas desde la infancia siempre compartimos una pasión por el maquillaje y el skincare desde que somos chicas. Soñamos con abrir un comercio dedicado a esto hace años</p>
                </div>
              </div>
            </article>
          </div> <!-- .card -->
            
            <div class="card_nosotros">
              <article class="card__article__nosotros2">
                <div class="card__image-container2">
                  <img src="/img/clearskin2.jpg" alt="fotos-marca" class="card__image">
                </div>
                <div class="card__content">
                  <div class="card__description_nosotros2">
                    <p>La idea era vender solo maquillaje, pero como ambas estudiamos cosmetología se nos ocurrió empezar a vender skincare también. Para que la gente no tuviera que salir de su casa para sentir la piel mas linda</p>
                  </div>
                </div>
              </article>
            </div>

            <div class="card_nosotros">
              <article class="card__article__nosotros">
                <div class="card__image-container3">
                  <img src="/img/clearskin.jpg" alt="fotos-marca" class="card__image">
                  </div>
                <div class="card__content">
                  <div class="card__description_nosotros3">
                    <p>Hace 3 años estamos en la piel de muchas personas con nuestros productos. Gracias por acompañar a esta hermosa marca</p>
                    
                  </div>
                </div>
              </article>
            </div>
    </main>
     <!-- footer -->
  <div class="footer">
    <div class="footer__info">
      <p>Suscribite a nuestro Newsletter </p>
      <input type="email" class="email" id="email" value="Email">
    </div>
    <ul class="footer__description">
      <ul> <a href="/views/index.html" class="footer__links">Inicio</a></ul>
      <a href="/views/carrito.html" class="footer__links">
        <ul>Carrito</ul>
        <a href="/views/contacto.html" class="footer__links">
          <ul>Contacto</ul>
          <a href="/views/nosotros.html" class="footer__links">
            <ul>Nosotros</ul>
    </ul>

    <div class="footer__contact">
      <ul>Contacto</ul>
      <ul>Teléfono: 123456789</ul>
      <ul>Mail: Esenciabella@gmail.com</ul>
    </div>

    <div class="footer__map">
      <p>Dónde estamos</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d210253.7423517312!2d-58.421015!3d-34.573433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1717891342192!5m2!1ses-419!2sar" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <script type="module" src="/main.js"></script>
</body>
</html>