.section-cards {
    background-color: #FFFFFF;
    padding: 1rem;
 &__header{
    font-size: 80%;
    font-weight:200;
    color:black;
p 
{   margin-top: 5px;
    margin-bottom: 14px;
    font-weight: 200;
    font-size: 15px;
}
 }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.logo {
    height:100%;
}